<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967896141121-0u44htagu91k1ahv94btthdudjv3ajtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967896141121-0u44htagu91k1ahv94btthdudjv3ajtr</string>
	<key>API_KEY</key>
	<string>AIzaSyDRcEZdfZQqPduKV-MDG0hRHxT2Zdiq-KY</string>
	<key>GCM_SENDER_ID</key>
	<string>967896141121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ais.rideshare.app</string>
	<key>PROJECT_ID</key>
	<string>rideshare-a8811</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-a8811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967896141121:ios:52e7a9fa7c5e66777f25c0</string>
</dict>
</plist>